{% extends 'partials/base.html' %}
{% load i18n %}
{% block content %}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="{% url 'core:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>{% trans "Home" %}</a>
                <span></span> <a href="{% url 'core:dashboard' %}">{% trans "Dashboard" %}</a> <span></span> {% trans "Change Password" %}
            </div>
        </div>
    </div>
    <div class="page-content pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-8 col-md-12 m-auto">
                    <div class="row">
                        <div class="heading_s1 text-center mb-50">
                            <h2 class="mb-15 mt-15">{% trans "Change Password" %}</h2>
                            <p class="mb-30">{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="login_wrap widget-taber-content background-white">
                                <div class="padding_eight_all bg-white border rounded p-4">
                                    <form method="post">
                                        {% csrf_token %}
                                        {% for field in form %}
                                        <div class="form-group mb-3">
                                            <label class="mb-1 fw-bold">{{ field.label }}</label>
                                            {{ field }}
                                            {% if field.errors %}
                                                <div class="text-danger mt-1">
                                                    {{ field.errors|striptags }}
                                                </div>
                                            {% endif %}
                                            {% if field.help_text %}
                                                <small class="text-muted d-block mt-1">{{ field.help_text|safe }}</small>
                                            {% endif %}
                                        </div>
                                        {% endfor %}
                                        <div class="form-group mt-4 text-center">
                                            <button type="submit" class="btn btn-heading w-100 hover-up">{% trans "Change Password" %}</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<style>
    /* Add basic styling to django generated form inputs */
    .padding_eight_all input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ececec;
        border-radius: 10px;
    }
</style>
{% endblock content %}
