{% extends 'partials/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <main class="main pages">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'core:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>{% trans "Home" %}</a>
                    <span></span> {% trans "Pages" %} <span></span> {% trans "Set New Password" %}
                </div>
            </div>
        </div>
        <div class="page-content pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
                        <div class="row">
                            <div class="col-lg-6 pr-30 d-none d-lg-block">
                                <img class="border-radius-15" src="{% static 'assets/imgs/page/login-1.png' %}" alt="" />
                            </div>
                            <div class="col-lg-6 col-md-8">
                                <div class="login_wrap widget-taber-content background-white">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h1 class="mb-5">{% trans "Set New Password" %}</h1>
                                            <p class="mb-30">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                                        </div>
                                        
                                        {% if validlink %}
                                        <form method="post">
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            <div class="form-group mt-20">
                                                <button type="submit" class="btn btn-heading btn-block hover-up" name="reset">{% trans "Change Password" %}</button>
                                            </div>
                                        </form>
                                        {% else %}
                                        <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
                                        <a href="{% url 'userauths:password_reset' %}" class="btn btn-heading mt-20">{% trans "Request New Link" %}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
