{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<div class="page-header breadcrumb-wrap">
    <div class="container">
        <div class="breadcrumb">
            <a href="{% url 'core:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
            <span></span> <a href="{% url 'core:cart' %}">Cart</a>
            <span></span> <a href="{% url 'core:checkout-info' %}">Checkout Info</a>
            <span></span> <a href="{% url 'core:checkout' order.oid %}">Checkout</a>
            <span></span> Payment
        </div>
    </div>
</div>
<div class="row justify-content-center pt-lg-4 text-center" style="margin-bottom: 200px; margin-top: 100px;">
    <div class="col-lg-5 col-md-7 col-sm-9">
        {% if order.payment_method == 'cod' %}
        <h1 class="display-404 py-lg-3">Order Placed</h1>
        <h2 class="h3 mb-4">Your COD order has been placed successfully. Pay on delivery. Order Id #{{ order.oid }}</h2>
        {% else %}
        <h1 class="display-404 py-lg-3">Payment Completed</h1>
        <h2 class="h3 mb-4">Your order has been successfully placed. Order Id #{{ order.oid }}</h2>
        {% endif %}
        <p class="fs-md mb-4">
            <a href="{% url 'core:index' %}">Continue Shopping</a> |
            <a href="#">Contact us</a> if you have any issue or question
        </p>
    </div>
</div>
{% endblock content %}



