{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <main class="main">
        <div class="page-header mt-30 mb-50">
            <div class="container">
                <div class="archive-header">
                    <div class="row align-items-center">
                        <div class="col-xl-3">
                            {% if query %}
                            <h1 class="mb-15">{{ query }}</h1>
                            {% else %}
                            <h3 class="mb-15">No Searched Item</h3>
                            {% endif %}
                            <div class="breadcrumb">
                                <a href="{% url 'core:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                                <span></span> Shop <span></span> {{ query }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mb-30">
            <div class="row">
                <div class="col-12">
                    <div class="shop-product-fillter">
                        <div class="totall-product">
                            <p>We found <strong class="text-brand">{{ products.count }}</strong> item{{ products.count|pluralize }} for you!</p>
                        </div>
                    </div>
                    <div class="row product-grid">
                      {% for p in products %}
                      <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                          <div class="product-cart-wrap mb-30">
                              <div class="product-img-action-wrap">
                                  <div class="product-img product-img-zoom">
                                      <a href="{% url 'core:product-detail' p.p_id %}">
                                          <img class="default-img" src="{{ p.image.url }}" alt="" style="height: 280px; width: 280px; object-fit: cover;" />
                                          <img class="hover-img" src="{{ p.image.url }}" alt="" style="height: 280px; width: 280px; object-fit: cover;" />
                                      </a>
                                  </div>
                                  <div class="product-action-1">
                                      <a aria-label="Quick view" href="{% url 'core:product-detail' p.p_id %}" class="action-btn"><i class="fi-rs-eye"></i></a>
                                  </div>
                                  {% if p.get_percentage > 0 %}
                                  <div class="product-badges product-badges-position product-badges-mrg">
                                      <span class="hot">-{{ p.get_percentage }}%</span>
                                  </div>
                                  {% endif %}
                              </div>
                              <div class="product-content-wrap">
                                  <div class="product-category">
                                      <a href="{% url 'core:category-product-list' p.category.c_id %}">{{ p.category.title }}</a>
                                  </div>
                                  <h2><a href="{% url 'core:product-detail' p.p_id %}">{{ p.title }}</a></h2>
                                  <div class="product-rate-cover">
                                      <i class="fas fa-star text-warning"></i>
                                      <span class="font-small ml-5 text-muted"> ({{ p.reviews.all.count }})</span>
                                  </div>
                                  <div>
                                      <span class="font-small text-muted">By <a href="{% url 'core:vendor-detail' p.vendor.v_id %}">{{ p.vendor.name }}</a></span>
                                  </div>
                                  <div class="product-card-bottom">
                                      <div class="product-price">
                                          <span>${{ p.price }}</span>
                                          <span class="old-price">${{ p.old_price }}</span>
                                      </div>
                                      <div class="add-cart">
                                          <a class="add" href="{% url 'core:product-detail' p.p_id %}"><i class="fi-rs-shopping-cart mr-5"></i>Details</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      {% empty %}
                      <div class="col-12">
                          <p>No products found matching "{{ query }}".</p>
                      </div>
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
